@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("/public/BebasNeue-Regular.ttf");
}

#about {

  padding: 2em;
}

#skills {
  padding-right: 4em;
  padding-bottom: 2em;
  padding-left: 4em;
  background-color: #444343;
}
.headings {
  /* color: #ff4141; */
  font-family: "Bebas Neue";
  font-size: 4em;
  font-weight: 400;
  letter-spacing: .2rem;
  text-align: center;
  margin: 15px;
  width: 100%;
}
.content_wrapper {
  width: 100%;
  background-color: #363636;
  /* border-top: 3px solid #ff4141; */
  align-items: center;
  justify-content: center;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  /* margin: 8em;
  padding: 4em; */
  margin-top: 0;
  max-width: calc(6*(220px));
}

.skill {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 10rem;
  color: #fff;
  justify-content: center;
  align-items: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 8em;
}

.skillName {
  text-align: center;
  font-size: 2.5em;
  font-family: "Bebas Neue";
  margin: 0;
  font-weight: 300;
}

.skillImg {
  width: 150px;
  height: 150px;
}

.skillFlex {
  box-sizing: border-box;
  /* display: flex; */
  position: relative;
  padding: 40px;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardflex {
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 40px;
  transition: 0.25s;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%), 0 2px 2px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 15%);
  background-color: #1d2125;
  flex-direction: column;
}

.cardflex:hover {
  box-shadow: 0 1px 1px rgb(255 65 65 / 15%), 0 2px 2px rgb(255 65 65 / 15%), 0 4px 4px rgb(255 65 65 / 15%), 0 8px 8px rgb(255 65 65 / 15%);
  transition: 0.25s;
  flex-direction: column;
}

.cardflex:hover .abouticons {
  text-shadow: 0 1px 1px rgb(255 65 65 / 15%), 0 2px 2px rgb(255 65 65 / 15%), 0 4px 4px rgb(255 65 65 / 15%), 0 8px 8px rgb(255 65 65 / 15%);
}

.abouticons {
  color: white;
  font-size: 5rem;
  position: relative;
  text-align: center;
  /* color: #ff4141; */
}

.abouticons h3 {
  font-size: 2rem;
  color: white;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  /* color: #ff4141; */
}

.icon-gamepad3:before {
  content: "\e96d";
}

.icon-lamp7:before {
  content: "\ebf9";
}

.icon-cup2:before {
  content: "\ebc9";
}

p {
  font-size: 1.2rem;
  color: white;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headers {
  font-family: "Bebas Neue";
  font-size: 3.5em;
  /* margin: 16px; */
}

.skillDescription {
  font-size: 1.2em;
  text-align: left;
}

/* Tab List CSS */
.tabs {
  text-align: center;
  width: 90%;
  color: white;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-left: 0;
}

.tab-list-item {
  cursor: pointer;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 1.8em;
  color: white;
  display: inline-block;
  list-style: none;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  color: #ff4141;
}

/* Tab Content CSS */
.tab-content {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin: 20px auto;
}
