.wrapper {
  width: 90%;
  height: 90%;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.item {
  background-color: #1d2125;
  color: white;
  padding: 10px;
}
