.social-wrapper {
  display: flex;
  position: absolute;
  top: 90vh;
  width: 100%;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  pointer-events: auto;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding: 6px;
  margin: 0 0.5em 0 0;
  display: inline-flex;
  transition: all 0.5s;
}

.icon:hover {
  background-color: #ff4141;
}
