@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("/public/BebasNeue-Regular.ttf");
}

.canvas {
  width: 100%;
  height: 100vh;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* section {
  color: #fff;
  height: calc(100vh + 53px);
} */

.footer {
  font-family: "Bebas Neue";
  letter-spacing: 0.1em;
  height: 3vh;
  font-size: 1.3em;
  top: 50%;
  right: 0%;
  left: 0%;
  bottom: 50%;
  color: #fff;
  text-align: center;
}
