.card-block {
    padding: 4rem;
}

@media (max-width: 1024px) {
    .card-block {
        padding: 2rem;
    }
}

.card-block.light-blue-background {
    background-color: var(--color-light-blue);
    color: var(--color-rich-black);
}

.card-block.dark-background {
    background-color: var(--color-rich-black);
}

.card-block.light-background {
    background-color: var(--color-white);
    color: var(--color-rich-black);
}

.card-block.tomato-red-background {
    background-color: var(--color-tomato-red);
    color: var(--color-rich-black);
}

.card-block.wenge-gray-background {
    background-color: var(--color-wenge-gray);
}

/* .card-block-content .card-block-description {
    @apply 
} */
