.card-block {
    padding: 4rem;
}

@media (max-width: 1024px) {
    .card-block {
        padding: 2rem;
    }
}

.card-block.light-blue-background {
    background-color: var(--color-light-blue);
    color: var(--color-rich-black);
}

/* .card-block-content .card-block-description {
    @apply 
} */